.TopListUi {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 0fr 5px 1fr;
}

.TopListUi .toolbar{
    display: grid;
    grid-template-columns: 1fr 0fr;
    color: #929292;
    background-color: #f7f7f7;
    padding: 0.6em;
}

.tt-row {
    cursor: pointer;
}
